In [1]:
## import modules
from splinter import Browser
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
from datetime import datetime as dt

In [2]:
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
# Build query Url and List of Stocks ticker
base_url = "https://finance.yahoo.com/quote/"
tickers = ["AAPL", "FB", "IBM", "MSFT"]

In [4]:
# create list
close_price_list = []
volume_list = []
mkt_cap_list = []
earnings_Date_list = []
eps_list = []

In [5]:
for ticker in tickers:
    # Visit Yahoo finance summary page
    url1 = base_url + ticker + '?p=' + ticker + '&.tsrc=fin-srch'
#     print(url1)
    browser.visit(url1)
    # Scrape Financial Data into Soup
    html = browser.html
    soup = bs(html, "html.parser")
    summary = soup.find('table', class_="W(100%)").find_all(class_="Trsdu(0.3s) ")
    market_info = soup.find('table', class_="W(100%) M(0) Bdcl(c)").find_all(class_="Trsdu(0.3s) ")
    #print(summary)
    #type(summary)
    # close_price = soup.find('div', class_="D(ib) Mend(20px)").text
    # print(close_price.split('+')[0])
    close_price = summary[0].contents[0]
    close_price_list.append(close_price)
    volume = summary[4].contents[0]
    volume_list.append(volume)
    market_cap = market_info[0].contents[0]
    mkt_cap_list.append(market_cap)
    earnings_Date = market_info[4].contents[0]
    earnings_Date_list.append(earnings_Date)
    eps = market_info[3].contents[0]
    eps_list.append(eps)

In [6]:
# remove B and convert Mkt_cap to Float
new_cap_list = []
for cap in mkt_cap_list:
    new_cap = cap.replace('B', '')
    new_cap = float(new_cap)
    new_cap_list.append(new_cap)
mkt_cap_list = new_cap_list
print(mkt_cap_list)

[939.52, 510.783, 129.155, 926.573]

In [7]:
#convert Earnings_Date to date format
# new_d_list = []
# format_str = '%Y-%m-%d'
# data_today = dt.today().strftime('%Y-%m-%d')
# for d in earnings_Date_list:
#     if d != 'N/A':
#         new_d = dt.strptime(d, format_str)
#         new_d_list.append(new_d)
#     else:
#         new_d = d.replace('N/A', data_today)
#         new_d = dt.strptime(d, format_str)
# #     print(new_d.date())
#         new_d_list.append(new_d)
# earnings_Date_list = new_d_list
# print(earnings_Date_list)

In [8]:
type(earnings_Date_list)

list

In [9]:
# create list
company_name_list = []
company_desc_list = []
company_tel_list = []
key_execs_n_list = []
key_execs_t_list = []
key_execs_s_list = []
url_list = []
company_addr_list = []

In [10]:
for ticker in tickers:
    # Visit Yahoo finance profile page
    url2 = base_url + ticker + '/profile?p=' + ticker
#     print(url2)
    browser.visit(url2)
    # Scrape Financial Data into Soup
    html = browser.html
    soup = bs(html, "html.parser")
   
    profile1 = soup.find('p', class_="D(ib) W(47.727%) Pend(40px)")
    company_addr = profile1.contents[1] + profile1.contents[5]
    company_addr_list.append(company_addr)
#     print(company_addr)
    #type(data)
    company_name = soup.find("h3", class_="Fz(m) Mb(10px)").text
    company_name_list.append(company_name)
    company_desc = soup.find('p', class_="Mt(15px) Lh(1.6)").text
    company_desc_list.append(company_desc)
#     print(company_desc)
    key_execs_data = soup.find('table', class_='W(100%)').find('tbody').find_all('span')
    key_execs_name = key_execs_data[0].contents[1]
    key_execs_title = key_execs_data[1].contents[1]
    key_execs_salary = key_execs_data[2].contents[1]
    key_execs_n_list.append(key_execs_name)
    key_execs_t_list.append(key_execs_title)
    key_execs_s_list.append(key_execs_salary)
    profile = soup.find('p', class_="D(ib) W(47.727%) Pend(40px)").find_all('a')
    company_tel = profile[0].text
    url = profile[1].text
    company_tel_list.append(company_tel)
    url_list.append(url)
#     print(url_list)

In [11]:
# convert telephone number to INT
new_tel_list = []
for tel in company_tel_list:
    new_tel = tel.replace('-', '')
    new_tel = int(new_tel)
    new_tel_list.append(new_tel)
company_tel_list = new_tel_list
print(company_tel_list)

[4089961010, 6505434800, 9144991900, 4258828080]

In [12]:
# remove M and convert Key_Execs_Salary to Float
new_s_list = []
for s in key_execs_s_list:
    new_s = s.replace('M', '')
    new_s = float(new_s)
    new_s_list.append(new_s)
key_execs_s_list = new_s_list
print(key_execs_s_list)

[15.68, 8.85, 6.75, 9.04]

In [13]:
total_ESG_score_list = []
avg_perf_env_list = []
social_score_list = []
governance_score_list = []

In [14]:
for ticker in tickers:
    # Visit Yahoo finance sustanability page
    url3 = base_url + ticker + '/sustainability?p=' + ticker
#     print(url3)
    browser.visit(url3)
    # Scrape Financial Data into Soup
    html = browser.html
    soup = bs(html, "html.parser")
    sustain = soup.find_all('div', class_="D(ib) Fz(23px) smartphone_Fz(22px) Fw(600)")
#     print(sustain[count].contents[0])
#     count += 1
    total_ESG_score = soup.find('div', class_="Fz(36px) Fw(600) D(ib) Mend(5px)").text
    total_ESG_score_list.append(total_ESG_score)
    avg_perf_env = sustain[0].contents[0]
    avg_perf_env_list.append(avg_perf_env)
    social_score = sustain[1].contents[0]
    social_score_list.append(social_score)
    governance_score = sustain[2].contents[0]
    governance_score_list.append(governance_score)

In [15]:
# Create Summary dataframe
summary_df = pd.DataFrame({'Ticker':tickers, 'Close_Price':close_price_list, 'Volume':volume_list,'Mkt_Cap':mkt_cap_list, 'EPS':eps_list, 'Earnings_Date':earnings_Date_list})

In [16]:
summary_df

  Ticker Close_Price      Volume  Mkt_Cap    EPS Earnings_Date
0   AAPL      199.23  25,696,385  939.520  12.12    2019-02-08
1     FB      179.65  10,996,820  510.783   7.57           N/A
2    IBM      143.90   5,951,960  129.155   9.52    2019-02-07
3   MSFT      121.05  12,315,624  926.573   4.31    2019-05-15

In [17]:
# Create Summary dataframe
profile_df = pd.DataFrame({'Ticker':tickers, 'Company_Name':company_name_list, 'Description':company_desc_list, 'Telephone':company_tel_list, 'Address':company_addr_list,
                           'Key_Execs_Name':key_execs_n_list, 'Key_Execs_Title':key_execs_t_list,'Key_Execs_Salary':key_execs_s_list, 'Web URL':url_list})

In [18]:
profile_df

,Ticker,Company_Name,Description,Telephone,Address,Key_Execs_Name,Key_Execs_Title,Key_Execs_Salary,Web URL
0,AAPL,Apple Inc.,"Apple Inc. designs, manufactures, and markets ...",4089961010,"One Apple Park WayCupertino, CA 95014",Mr. Timothy D. Cook,CEO & Director,15.68,http://www.apple.com
1,FB,"Facebook, Inc.","Facebook, Inc. provides various products to co...",6505434800,"1601 Willow RoadMenlo Park, CA 94025",Mr. Mark Elliot Zuckerberg,"Founder, Chairman & CEO",8.85,http://www.facebook.com
2,IBM,International Business Machines Corporation,International Business Machines Corporation op...,9144991900,"1 New Orchard RoadArmonk, NY 10504",Ms. Virginia M. Rometty,"Chairman, Pres & CEO",6.75,http://www.ibm.com
3,MSFT,Microsoft Corporation,"Microsoft Corporation develops, licenses, and ...",4258828080,"One Microsoft WayRedmond, WA 98052",Mr. Satya Nadella,CEO & Director,9.04,http://www.microsoft.com

In [19]:
# Create sustainability dataframe
sustainability_df = pd.DataFrame({'Ticker':tickers, 'Total_ESG_Score':total_ESG_score_list, 'AVG_Perf_Env':avg_perf_env_list,'Social_Score':social_score_list, 'Governance_Score':governance_score_list})

In [20]:
sustainability_df

  Ticker Total_ESG_Score AVG_Perf_Env Social_Score Governance_Score
0   AAPL              70           89           57               60
1     FB              59           62           67               42
2    IBM              74           87           74               60
3   MSFT              74           82           71               70

In [21]:
# Database 
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
rds_connection_string = "root:root123@127.0.0.1:3306/twitter_stocks_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [22]:
engine.table_names()

['profile', 'summary', 'sustainability']

In [23]:
# converted DataFrame into database
#summary_df.to_sql(name='summary', con=engine, if_exists='append', index=False)
profile_df.to_sql(name='profile', con=engine, if_exists='append', index=False)
sustainability_df.to_sql(name='sustainability', con=engine, if_exists='append', index=False)

InternalError: (pymysql.err.InternalError) (1054, "Unknown column 'Web URL' in 'field list'") [SQL: 'INSERT INTO profile (`Ticker`, `Company_Name`, `Description`, `Telephone`, `Address`, `Key_Execs_Name`, `Key_Execs_Title`, `Key_Execs_Salary`, `Web URL`) VALUES (%(Ticker)s, %(Company_Name)s, %(Description)s, %(Telephone)s, %(Address)s, %(Key_Execs_Name)s, %(Key_Execs_Title)s, %(Key_Execs_Salary)s, %(Web URL)s)'] [parameters: ({'Ticker': 'AAPL', 'Company_Name': 'Apple Inc.', 'Description': "Apple Inc. designs, manufactures, and markets mobile communication and media devices, and personal computers. It also sells various related software, ... (1374 characters truncated) ... party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.", 'Telephone': 4089961010, 'Address': 'One Apple Park WayCupertino, CA 95014', 'Key_Execs_Name': 'Mr. Timothy D. Cook', 'Key_Execs_Title': 'CEO & Director', 'Key_Execs_Salary': 15.68, 'Web URL': 'http://www.apple.com'}, {'Ticker': 'FB', 'Company_Name': 'Facebook, Inc.', 'Description': "Facebook, Inc. provides various products to connect and share through mobile devices, personal computers, and other surfaces worldwide. The company's ... (642 characters truncated) ... ember 31, 2018, it had approximately 1.52 billion daily active users. The company was founded in 2004 and is headquartered in Menlo Park, California.", 'Telephone': 6505434800, 'Address': '1601 Willow RoadMenlo Park, CA 94025', 'Key_Execs_Name': 'Mr. Mark Elliot Zuckerberg', 'Key_Execs_Title': 'Founder, Chairman & CEO', 'Key_Execs_Salary': 8.85, 'Web URL': 'http://www.facebook.com'}, {'Ticker': 'IBM', 'Company_Name': 'International Business Machines Corporation', 'Description': "International Business Machines Corporation operates as an integrated technology and services company worldwide. Its Cognitive Solutions segment offe ... (1614 characters truncated) ... anged its name to International Business Machines Corporation in 1924. The company was incorporated in 1911 and is headquartered in Armonk, New York.", 'Telephone': 9144991900, 'Address': '1 New Orchard RoadArmonk, NY 10504', 'Key_Execs_Name': 'Ms. Virginia M. Rometty', 'Key_Execs_Title': 'Chairman, Pres & CEO', 'Key_Execs_Salary': 6.75, 'Web URL': 'http://www.ibm.com'}, {'Ticker': 'MSFT', 'Company_Name': 'Microsoft Corporation', 'Description': "Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its company's Productivity and Business  ... (1701 characters truncated) ... logies Ltd.; and a strategic collaboration with Mastercard Incorporated. The company was founded in 1975 and is headquartered in Redmond, Washington.", 'Telephone': 4258828080, 'Address': 'One Microsoft WayRedmond, WA 98052', 'Key_Execs_Name': 'Mr. Satya  Nadella', 'Key_Execs_Title': 'CEO & Director', 'Key_Execs_Salary': 9.04, 'Web URL': 'http://www.microsoft.com'})] (Background on this error at: http://sqlalche.me/e/2j85)

In [ ]:
pd.read_sql_query('select * from summary', con=engine).head()

In [ ]:
pd.read_sql_query('select * from profile', con=engine).head()

In [ ]:
pd.read_sql_query('select * from sustainability', con=engine).head()