In [288]:
## import modules
from splinter import Browser
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [289]:
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [290]:
# Build query Url and List of Stocks ticker
base_url = "https://finance.yahoo.com/quote/"
tickers = ["AAPL", "FB", "IBM", "MSFT"]

In [291]:
# create list
close_price_list = []
volume_list = []
mkt_cap_list = []
earnings_Date_list = []
eps_list = []

In [292]:
for ticker in tickers:
    # Visit Yahoo finance summary page
    url1 = base_url + ticker + '?p=' + ticker + '&.tsrc=fin-srch'
#     print(url1)
    browser.visit(url1)
    # Scrape Financial Data into Soup
    html = browser.html
    soup = bs(html, "html.parser")
    summary = soup.find('table', class_="W(100%)").find_all(class_="Trsdu(0.3s) ")
    market_info = soup.find('table', class_="W(100%) M(0) Bdcl(c)").find_all(class_="Trsdu(0.3s) ")
    #print(summary)
    #type(summary)
    # close_price = soup.find('div', class_="D(ib) Mend(20px)").text
    # print(close_price.split('+')[0])
    close_price = summary[0].contents[0]
    close_price_list.append(close_price)
    volume = summary[4].contents[0]
    volume_list.append(volume)
    market_cap = market_info[0].contents[0]
    mkt_cap_list.append(market_cap)
    earnings_Date = market_info[4].contents[0]
    earnings_Date_list.append(earnings_Date)
    eps = market_info[3].contents[0]
    eps_list.append(eps)

In [293]:
# print(market_info)

In [294]:
# print(f"close price: {close_price_list} /n")
# print( "----------------- /n")
# print( f"Volumes: {volume_list} /n")
# print( "----------------- /n")
# print( f"market caps: {mkt_cap_list} /n")
# print( "----------------- /n")
# print( f"earnings {earnings_Date_list} /n")
# print( "----------------- /n")
# print(f" EPS: {eps_list} /n")

In [334]:
# create list
company_name_list = []
company_desc_list = []
company_tel_list = []
key_execs_n_list = []
key_execs_t_list = []
key_execs_s_list = []
url_list = []
company_addr_list = []

In [335]:
for ticker in tickers:
    # Visit Yahoo finance profile page
    url2 = base_url + ticker + '/profile?p=' + ticker
#     print(url2)
    browser.visit(url2)
    # Scrape Financial Data into Soup
    html = browser.html
    soup = bs(html, "html.parser")
   
    profile1 = soup.find('p', class_="D(ib) W(47.727%) Pend(40px)")
    company_addr = profile1.contents[1] + profile1.contents[5]
    company_addr_list.append(company_addr)
#     print(company_addr)
    #type(data)
    company_name = soup.find("h3", class_="Fz(m) Mb(10px)").text
    company_name_list.append(company_name)
    company_desc = soup.find('p', class_="Mt(15px) Lh(1.6)").text
    company_desc_list.append(company_desc)
#     print(company_desc)
    key_execs_data = soup.find('table', class_='W(100%)').find('tbody').find_all('span')
    key_execs_name = key_execs_data[0].contents[1]
    key_execs_title = key_execs_data[1].contents[1]
    key_execs_salary = key_execs_data[2].contents[1]
    key_execs_n_list.append(key_execs_name)
    key_execs_t_list.append(key_execs_title)
    key_execs_s_list.append(key_execs_salary)
    profile = soup.find('p', class_="D(ib) W(47.727%) Pend(40px)").find_all('a')
    company_tel = profile[0].text
    url = profile[1].text
    company_tel_list.append(company_tel)
    url_list.append(url)
#     print(url_list)

In [338]:
# print(f"company_addr: {company_addr_list} /n")
print(key_execs_n_list)

['Mr. Timothy D. Cook', 'Mr. Mark Elliot Zuckerberg', 'Ms. Virginia M. Rometty', 'Mr. Satya  Nadella']

In [339]:
total_ESG_score_list = []
avg_perf_env_list = []
social_score_list = []
governance_score_list = []
# sustain_list = []
# sustain_data_list = []
# count = 0

In [340]:
for ticker in tickers:
    # Visit Yahoo finance sustanability page
    url3 = base_url + ticker + '/sustainability?p=' + ticker
#     print(url3)
    browser.visit(url3)
    # Scrape Financial Data into Soup
    html = browser.html
    soup = bs(html, "html.parser")
    sustain = soup.find_all('div', class_="D(ib) Fz(23px) smartphone_Fz(22px) Fw(600)")
#     print(sustain[count].contents[0])
#     count += 1
    total_ESG_score = soup.find('div', class_="Fz(36px) Fw(600) D(ib) Mend(5px)").text
    total_ESG_score_list.append(total_ESG_score)
    avg_perf_env = sustain[0].contents[0]
    avg_perf_env_list.append(avg_perf_env)
    social_score = sustain[1].contents[0]
    social_score_list.append(social_score)
    governance_score = sustain[2].contents[0]
    governance_score_list.append(governance_score)

In [341]:
# print(f"total_ESG_score : {total_ESG_score_list} /n")
# print( "----------------- /n")
# print( f"avg_perf_env: {avg_perf_env_list} /n")
# print( "----------------- /n")
# print( f"social_score: {social_score_list} /n")
# print( "----------------- /n")
# print( f"governance_score: {governance_score_list} /n")

In [342]:
# import ipdb; ipdb.set_trace()

In [343]:
# Create Summary dataframe
summary_df = pd.DataFrame({'Ticker':tickers, 'Close_Price':close_price_list, 'Volume':volume_list,'Mkt_Cap':mkt_cap_list, 'EPS':eps_list, 'Earnings_Date':earnings_Date_list})

In [344]:
summary_df

  Ticker Close_Price      Volume   Mkt_Cap    EPS Earnings_Date
0   AAPL      199.23  24,410,391   939.52B  12.12    2019-02-08
1     FB      179.65  10,996,820  510.783B   7.57           N/A
2    IBM      143.90   5,951,960  129.155B   9.52    2019-02-07
3   MSFT      121.05  12,315,624  926.573B   4.31    2019-05-15

In [353]:
# Create Summary dataframe
profile_df = pd.DataFrame({'Ticker':tickers, 'Company_Name':company_name_list, 'Description':company_desc_list, 'Telephone':company_tel_list, 'Address':company_addr_list,
                           'Key_Execs_Name':key_execs_n_list, 'Key_Execs_Title':key_execs_t_list,'Key_Execs_Salary':key_execs_s_list, 
                           'Mkt_Cap':mkt_cap_list, 'EPS':eps_list, 'Earnings_Date':earnings_Date_list, 'Web URL':url_list})

In [365]:
profile_df['Telephone'] = (profile_df['Telephone'].replace('-', '').astype(float)
profile_df

SyntaxError: invalid syntax (<ipython-input-365-40b50f12e495>, line 2)

In [348]:
# Create sustainability dataframe
sustainability_df = pd.DataFrame({'Ticker':tickers, 'Total_ESG_Score':total_ESG_score_list, 'AVG_Perf_Env':avg_perf_env_list,'Social_Score':social_score_list, 'Governance_Score':governance_score_list})

In [349]:
sustainability_df

  Ticker Total_ESG_Score AVG_Perf_Env Social_Score Governance_Score
0   AAPL              70           89           57               60
1     FB              59           62           67               42
2    IBM              74           87           74               60
3   MSFT              74           82           71               70

In [355]:
# Database 
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
rds_connection_string = "root:root123@127.0.0.1:3306/twitter_stocks_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [356]:
engine.table_names()

['profile', 'summary', 'sustainability']

In [360]:
# converted DataFrame into database
# summary_df.to_sql(name='summary', con=engine, if_exists='append', index=False)
# # profile_df.to_sql(name='profile', con=engine, if_exists='append', index=False)
sustainability_df.to_sql(name='sustainability', con=engine, if_exists='append', index=False)

In [359]:
pd.read_sql_query('select * from summary', con=engine).head()

Empty DataFrame
Columns: [Ticker, Close_Price, Volume, Mkt_Cap, EPS, Earnings_Date]
Index: []

In [ ]:
pd.read_sql_query('select * from profile', con=engine).head()

In [361]:
pd.read_sql_query('select * from sustainability', con=engine).head()

  Ticker  Total_ESG_Score  AVG_Perf_Env  Social_Score  Governance_Score
0   AAPL               70            89            57                60
1     FB               59            62            67                42
2    IBM               74            87            74                60
3   MSFT               74            82            71                70