In [1]:
## import modules
from splinter import Browser
import requests
import json
from bs4 import BeautifulSoup as bs
import pandas as pd
from datetime import datetime as dt
import numpy as np

In [2]:
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
# Build query Url and List of Stocks ticker
base_url = "https://finance.yahoo.com/quote/"
# tickers = ["AAPL", "FB", "IBM", "MSFT"]
# tickers = ['TSLA', 'AAPL', 'ROKU', 'BA', 'ABEV', 'LYFT', 'VALE']
tickers = ['PCG','DIS','CGC','GS','NFLX','UNH','ROKU','AAPL','TSLA','LYFT','BA','UNH','BBBY','CGC','NVDA','MNST','BIDU',
           'NBEV','CF','XLP','BB','VZ','TER','PREV','CCBG','WWE','ADNT','BOOM','PCG','CYBR','CVNA','YETI','PUMP','RDN',
           'VALE','NIO','ABEV','XHR','FCSC','XON','BHVN','ADVM','ACST', 'ADRO','INSY','NOK','NYSE','CCBG',
           'WWE', 'ADNT','BOOM','NOK','PEP','RLGT','DIS','SPY','WUHN','ESNC','GIB','NVA']

In [4]:
# create and initialize list 
close_price_list = []
volume_list = []
mkt_cap_list = []
earnings_Date_list = []
eps_list = []

In [5]:
for ticker in tickers:
    try:
        # Visit Yahoo finance summary page
        url1 = base_url + ticker + '?p=' + ticker + '&.tsrc=fin-srch'
    #     print(url1)
        browser.visit(url1)
        # Scrape Financial Data into Soup
        html = browser.html
        soup = bs(html, "html.parser")
        summary = soup.find('table', class_="W(100%)").find_all(class_="Trsdu(0.3s) ")
        market_info = soup.find('table', class_="W(100%) M(0) Bdcl(c)").find_all(class_="Trsdu(0.3s) ")
        #print(summary)
        #type(summary)
        close_price = soup.find('div', class_="D(ib) Mend(20px)").text
    #     print(close_price.split('+')[0])
        close_price = summary[0].contents[0]
        close_price_list.append(close_price)
        volume = summary[4].contents[0]
        volume_list.append(volume)
        market_cap = market_info[0].contents[0]
        mkt_cap_list.append(market_cap)
        earnings_Date = market_info[4].contents[0]
        earnings_Date_list.append(earnings_Date)
        eps = market_info[3].contents[0]
        eps_list.append(eps)
    
    except AttributeError:
        pass
    except IndexError:
        pass

In [6]:
# remove B and convert Mkt_cap to Float
new_cap_list = []
for cap in mkt_cap_list:
    try:
        new_cap = cap.replace('B', '')
        new_cap = float(new_cap)
        new_cap_list.append(new_cap)
    except ValueError:
        pass
mkt_cap_list = new_cap_list
print(mkt_cap_list)

[11.079, 238.095, 15.295, 77.875, 157.328, 212.778, 6.421, 961.257, 47.198, 19.697, 214.543, 212.778, 2.302, 15.295, 113.362, 29.982, 59.748, 10.039, 10.82, 5.045, 239.705, 7.76, 7.548, 2.423, 11.079, 4.379, 9.564, 2.739, 2.379, 4.812, 67.973, 4.915, 68.563, 2.39, 2.664, 32.228, 7.548, 2.423, 32.228, 178.47, 238.095, 264.06, 19.383]

In [7]:
# Fix empty date values with a data
new_d_list = []
# print(earnings_Date_list)
# print("/n ---------------- /n")
for d in earnings_Date_list:
    new_d = d.replace('N/A', "2019-02-07")
    new_d_list.append(new_d)
earnings_Date_list = new_d_list
# print(new_d_list)

In [8]:
# remove comma from Volume values
new_vol_list = []
for vol in volume_list:
    try:
        new_vol = vol.replace(',', '')
        new_vol = float(new_vol)
        new_vol_list.append(new_vol)
    except AttributeError:
        pass
volume_list = new_vol_list
# print(volume_list)

In [9]:
# type(earnings_Date_list)

In [10]:
# create and initialize list 
company_name_list = []
company_desc_list = []
company_tel_list = []
company_addr_list = []
key_execs_n_list = []
key_execs_t_list = []
key_execs_s_list = []
url_list = []

In [12]:
for ticker in tickers:
    try:
        # Visit Yahoo finance profile page
        url2 = base_url + ticker + '/profile?p=' + ticker
    #     print(url2)
        browser.visit(url2)
        # Scrape Financial Data into Soup
        html = browser.html
        soup = bs(html, "html.parser")

        profile1 = soup.find('p', class_="D(ib) W(47.727%) Pend(40px)")
        company_addr = profile1.contents[1] + profile1.contents[5]
        company_addr_list.append(company_addr)
    #     print(company_addr)
        #type(data)
        company_name = soup.find("h3", class_="Fz(m) Mb(10px)").text
        company_name_list.append(company_name)
        company_desc = soup.find('p', class_="Mt(15px) Lh(1.6)").text
        company_desc_list.append(company_desc)
    #     print(company_desc)
        key_execs_data = soup.find('table', class_='W(100%)').find('tbody').find_all('span')
#         print(key_execs_data[0])
        key_execs_name = key_execs_data[0].contents[1]
        key_execs_title = key_execs_data[1].contents[1]
        key_execs_salary = key_execs_data[2].contents[1] 
        if len(key_execs_salary):
            key_execs_salary = 'N/A'
        key_execs_n_list.append(key_execs_name)
        key_execs_t_list.append(key_execs_title)
        key_execs_s_list.append(key_execs_salary)
        profile = soup.find('p', class_="D(ib) W(47.727%) Pend(40px)").find_all('a')
        company_tel = profile[0].text
        url = profile[1].text
        company_tel_list.append(company_tel)
        url_list.append(url)
        
    except IndexError as e:
        pass
    except AttributeError as e:
        pass

In [13]:
#print(key_execs_s_list)

['N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A']

In [15]:
# convert telephone number to Float
new_tel_list = []
for tel in company_tel_list:
    try:
        new_tel = tel.replace('-', '')
        new_tel = float(new_tel)
        new_tel_list.append(new_tel)
    except ValueError:
        pass
company_tel_list = new_tel_list
#print(company_tel_list)

In [16]:
# remove M and convert Key_Execs_Salary to Float
new_s_list = []
for s in key_execs_s_list:
    try:
        new_s = s.replace('M', '')
        new_s = float(new_s)
        new_s_list.append(new_s)
        
    except ValueError:
        pass
    
key_execs_s_list = new_s_list
# print(key_execs_s_list)

In [17]:
# create and initialize list 
total_ESG_score_list = []
avg_perf_env_list = []
social_score_list = []
governance_score_list = []

In [18]:
for ticker in tickers:
    try:
        # Visit Yahoo finance sustanability page
        url3 = base_url + ticker + '/sustainability?p=' + ticker
    #     print(url3)
        browser.visit(url3)
        # Scrape Financial Data into Soup
        html = browser.html
        soup = bs(html, "html.parser")
        sustain = soup.find_all('div', class_="D(ib) Fz(23px) smartphone_Fz(22px) Fw(600)")
    #     print(sustain[count].contents[0])
    #     count += 1
        total_ESG_score = soup.find('div', class_="Fz(36px) Fw(600) D(ib) Mend(5px)").text
        total_ESG_score_list.append(total_ESG_score)
        avg_perf_env = sustain[0].contents[0]
        avg_perf_env_list.append(avg_perf_env)
        social_score = sustain[1].contents[0]
        social_score_list.append(social_score)
        governance_score = sustain[2].contents[0]
        governance_score_list.append(governance_score)
        
    except AttributeError as e:
        pass

In [20]:
# Create Summary dataframe
data2_dic = {'Ticker':tickers, 'Close_Price':close_price_list, 'Volume':volume_list,'Mkt_Cap':mkt_cap_list, 'EPS':eps_list, 'Earnings_Date':earnings_Date_list}
summary_df = pd.DataFrame.from_dict(data2_dic, orient='index')
summary_df = summary_df.transpose()

In [21]:
summary_df

   Ticker Close_Price       Volume  Mkt_Cap       EPS Earnings_Date
0     PCG       21.85  4.65761e+06   11.079    -13.25    2017-09-28
1     DIS      131.75  1.12369e+07  238.095      7.30    2018-12-07
2     CGC       42.85  1.53335e+07   15.295     -1.79    2019-02-07
3      GS      207.90  2.80434e+06   77.875     24.02    2019-05-29
4    NFLX      354.74  8.35316e+06  157.328      2.68    2019-02-07
5     UNH      216.84  1.38491e+07  212.778     12.88    2019-03-08
6    ROKU       56.60  9.48068e+06    6.421     -0.09    2019-02-07
7    AAPL      203.13  2.41958e+07  961.257     12.12    2019-02-08
8    TSLA      271.23  5.87632e+06   47.198     -5.72    2019-02-07
9    LYFT       59.51  6.72887e+06   19.697    -43.04    2019-02-07
10     BA      377.52  4.32314e+06  214.543     17.85    2019-02-07
11    UNH      216.84  1.38491e+07  212.778     12.88    2019-03-08
12   BBBY       17.28  4.95627e+06    2.302     -1.02    2019-06-13
13    CGC       42.85  1.53335e+07   15.295     -1.79    2019-02-07
14   NVDA      187.29   9.5247e+06  113.362      6.63    2019-02-28
15   MNST       54.89  4.21626e+06   29.982      1.76    2019-02-07
16   BIDU      170.33  1.97483e+06   59.748     12.83    2019-02-07
17   NBEV        5.26  3.56255e+06   10.039     -0.26    2019-02-07
18     CF       44.62  4.56699e+06    10.82      1.24    2019-02-14
19    XLP       56.82  8.18468e+06    5.045     2.75%        12.59%
20     BB        9.21  2.72612e+06  239.705      0.15    2019-02-07
21     VZ       57.78  1.28725e+07     7.76      3.76    2019-04-09
22    TER       44.85  1.26613e+06    7.548      2.35    2019-02-21
23   PREV       23.56         8210    2.423      1.54    2019-03-08
24   CCBG       96.11       473941   11.079      1.12    2019-03-14
25    WWE       25.36  3.08012e+06    4.379    -15.91    2018-10-23
26   ADNT       68.15       499387    9.564      2.04    2019-03-28
27   BOOM       21.85  4.65761e+06    2.739    -13.25    2017-09-28
28    PCG      121.26  1.15828e+06    2.379      1.27    2019-02-07
29   CYBR       63.20       642439    4.812     -2.24    2019-02-07
30   CVNA       32.01  1.20099e+06   67.973      0.69    2019-02-07
31   YETI       24.09   1.0287e+06    4.915      2.00    2019-02-07
32   PUMP       22.67  1.16555e+06   68.563      2.77    2019-02-14
33    RDN       13.27  1.02302e+07     2.39      0.69    2018-08-03
34   VALE      4.5900  3.04279e+07    2.664  -44.1020    2019-02-07
35    NIO      4.3400  2.46369e+07   32.228    0.1760    2018-12-19
36   ABEV       21.30       507679    7.548      1.75    2019-03-28
37    XHR      2.2600   1.1361e+06    2.423   -1.4500    2019-02-07
38   FCSC      4.4400  2.07756e+07   32.228   -3.9320    2019-02-07
39    XON       60.18       666550   178.47     -6.15    2019-02-07
40   BHVN        5.65       623179  238.095     -1.18    2019-02-07
41   ADVM      0.9510       175845   264.06   -1.2240    2019-02-07
42   ACST      3.4100       334850   19.383   -1.2100    2019-02-07
43   ADRO      4.3000       586792     None   -1.6810    2019-02-07
44   INSY        5.82  1.34193e+07     None     -0.19    2018-05-31
45    NOK       23.56         8210     None      1.54    2019-03-08
46   NYSE       96.11       473941     None      1.12    2019-03-14
47   CCBG       25.36  3.08012e+06     None    -15.91    2018-10-23
48    WWE       68.15       499387     None      2.04    2019-03-28
49   ADNT        5.82  1.34193e+07     None     -0.19    2018-05-31
50   BOOM      127.01  6.33115e+06     None      8.86    2019-02-28
51    NOK        7.00       701525     None      0.21    2019-02-07
52    PEP      131.75  1.12369e+07     None      7.30    2018-12-07
53   RLGT      289.45  6.87085e+07     None     1.85%        16.53%
54    DIS      0.2600       132688     None      2.97    2019-02-07
55    SPY      0.0066         None     None      None          None
56   WUHN       70.55         None     None      None          None
57   ESNC        None         None     None      None          None
58    GIB        None         None     None      None          None
59    NVA        None         None     None      None          None

In [22]:
# Create Summary dataframe
data_dic = {'Ticker':tickers, 'Company_Name':company_name_list, 'Description':company_desc_list, 'Telephone':company_tel_list, 'Address':company_addr_list,'Key_Execs_Name':key_execs_n_list, 'Key_Execs_Title':key_execs_t_list,'Web_URL':url_list}
profile_df = pd.DataFrame.from_dict(data_dic, orient='index')
profile_df = profile_df.transpose()

In [23]:
profile_df

,Ticker,Company_Name,Description,Telephone,Address,Key_Execs_Name,Key_Execs_Title,Web_URL
0,PCG,PG&E Corporation,"PG&E Corporation, through its subsidiary, Paci...",4.15973e+09,77 Beale StreetPO Box 770000,Mr. Jason P. Wells,Sr. VP & CFO,http://www.pgecorp.com
1,DIS,The Walt Disney Company,"The Walt Disney Company, together with its sub...",8.1856e+09,"500 South Buena Vista StreetBurbank, CA 91521",Mr. Robert A. Iger,Chairman & CEO,http://www.thewaltdisneycompany.com
2,CGC,Canopy Growth Corporation,"Canopy Growth Corporation, together with its s...",2.12902e+09,"1 Hershey DriveSmiths Falls, ON K7A 0A8",Mr. David Michael Solomon,Chairman & CEO,http://www.goldmansachs.com
3,GS,"The Goldman Sachs Group, Inc.","The Goldman Sachs Group, Inc. operates as an i...",4.0854e+09,"200 West StreetNew York, NY 10282",Mr. Wilmot Reed Hastings Jr.,"Co-Founder, Chairman, Pres & CEO",http://www.netflix.com
4,NFLX,"Netflix, Inc.","Netflix, Inc. provides Internet entertainment ...",9.52936e+09,"100 Winchester CircleLos Gatos, CA 95032",Mr. Stephen J. Hemsley,Exec. Chairman,http://www.unitedhealthgroup.com
5,UNH,UnitedHealth Group Incorporated,UnitedHealth Group Incorporated operates as a ...,4.08557e+09,UnitedHealth Group Center9900 Bren Road East,Mr. Anthony J. Wood,"Founder, Chairman, Pres & CEO",http://www.roku.com
6,ROKU,"Roku, Inc.","Roku, Inc. operates a TV streaming platform. T...",4.08996e+09,"150 Winchester CircleLos Gatos, CA 95032",Mr. Timothy D. Cook,CEO & Director,http://www.apple.com
7,AAPL,Apple Inc.,"Apple Inc. designs, manufactures, and markets ...",3.12544e+09,"One Apple Park WayCupertino, CA 95014",Mr. Dennis A. Muilenburg,"Chairman, Pres & CEO",http://www.boeing.com
8,TSLA,"Tesla, Inc.","Tesla, Inc. designs, develops, manufactures, a...",9.52936e+09,"3500 Deer Creek RoadPalo Alto, CA 94304",Mr. Stephen J. Hemsley,Exec. Chairman,http://www.unitedhealthgroup.com
9,LYFT,"Lyft, Inc.","Lyft, Inc. operates a peer-to-peer marketplace...",9.08688e+09,185 Berry StreetSuite 5000,Mr. Warren Eisenberg,Co-Founder & Co-Chairman,http://www.bedbathandbeyond.com
10,BA,The Boeing Company,"The Boeing Company, together with its subsidia...",4.08486e+09,"100 North Riverside PlazaChicago, IL 60606",Mr. Jen-Hsun Huang,"Co-Founder, CEO, Pres & Director",http://www.nvidia.com
11,UNH,UnitedHealth Group Incorporated,UnitedHealth Group Incorporated operates as a ...,9.5174e+09,UnitedHealth Group Center9900 Bren Road East,Mr. Rodney Cyril Sacks,Chairman & CEO,http://www.monsterbevcorp.com
12,BBBY,Bed Bath & Beyond Inc.,"Bed Bath & Beyond Inc., together with its subs...",3.0329e+09,"650 Liberty AvenueUnion, NJ 07083",Mr. Brent David Willis,CEO & Director,http://www.newagebev.com
13,CGC,Canopy Growth Corporation,"Canopy Growth Corporation, together with its s...",8.47405e+09,"1 Hershey DriveSmiths Falls, ON K7A 0A8",Mr. W. Anthony Will,"Pres, CEO & Director",http://www.cfindustries.com
14,NVDA,NVIDIA Corporation,NVIDIA Corporation operates as a visual comput...,4.15973e+09,"2788 San Tomas ExpresswaySanta Clara, CA 95051",Mr. Jason P. Wells,Sr. VP & CFO,http://www.pgecorp.com
15,MNST,Monster Beverage Corporation,"Monster Beverage Corporation, through its subs...",8.1856e+09,"1 Monster WayCorona, CA 92879",Mr. Robert A. Iger,Chairman & CEO,http://www.thewaltdisneycompany.com
16,BIDU,"Baidu, Inc.","Baidu, Inc. provides Internet search services ...",2.12902e+09,"Baidu CampusNo 10, Shangdi 10th Street Haidian...",Mr. David Michael Solomon,Chairman & CEO,http://www.goldmansachs.com
17,NBEV,New Age Beverages Corporation,"New Age Beverages Corporation, a healthy funct...",4.0854e+09,"1700 East 68th AvenueDenver, CO 80229",Mr. Wilmot Reed Hastings Jr.,"Co-Founder, Chairman, Pres & CEO",http://www.netflix.com
18,CF,"CF Industries Holdings, Inc.","CF Industries Holdings, Inc. manufactures and ...",9.52936e+09,4 Parkway NorthSuite 400,Mr. Stephen J. Hemsley,Exec. Chairman,http://www.unitedhealthgroup.com
19,XLP,PG&E Corporation,"PG&E Corporation, through its subsidiary, Paci...",4.08557e+09,77 Beale StreetPO Box 770000,Mr. Anthony J. Wood,"Founder, Chairman, Pres & CEO",http://www.roku.com
20,BB,The Walt Disney Company,"The Walt Disney Company, together with its sub...",4.08996e+09,"500 South Buena Vista StreetBurbank, CA 91521",Mr. Timothy D. Cook,CEO & Director,http://www.apple.com
21,VZ,Canopy Growth Corporation,"Canopy Growth Corporation, together with its s...",3.12544e+09,"1 Hershey DriveSmiths Falls, ON K7A 0A8",Mr. Dennis A. Muilenburg,"Chairman, Pres & CEO",http://www.boeing.com
22,TER,"The Goldman Sachs Group, Inc.","The Goldman Sachs Group, Inc. operates as an i...",9.52936e+09,"200 West StreetNew York, NY 10282",Mr. Stephen J. Hemsley,Exec. Chairman,http://www.unitedhealthgroup.com
23,PREV,"Netflix, Inc.","Netflix, Inc. provides Internet entertainment ...",9.08688e+09,"100 Winchester CircleLos Gatos, CA 95032",Mr. Warren Eisenberg,Co-Founder & Co-Chairman,http://www.bedbathandbeyond.com
24,CCBG,UnitedHealth Group Incorporated,UnitedHealth Group Incorporated operates as a ...,4.08486e+09,UnitedHealth Group Center9900 Bren Road East,Mr. Jen-Hsun Huang,"Co-Founder, CEO, Pres & Director",http://www.nvidia.com
25,WWE,"Roku, Inc.","Roku, Inc. operates a TV streaming platform. T...",9.5174e+09,"150 Winchester CircleLos Gatos, CA 95032",Mr. Rodney Cyril Sacks,Chairman & CEO,http://www.monsterbevcorp.com
26,ADNT,Apple Inc.,"Apple Inc. designs, manufactures, and markets ...",3.0329e+09,"One Apple Park WayCupertino, CA 95014",Mr. Brent David Willis,CEO & Director,http://www.newagebev.com
27,BOOM,"Tesla, Inc.","Tesla, Inc. designs, develops, manufactures, a...",8.47405e+09,"3500 Deer Creek RoadPalo Alto, CA 94304",Mr. W. Anthony Will,"Pres, CEO & Director",http://www.cfindustries.com
28,PCG,"Lyft, Inc.","Lyft, Inc. operates a peer-to-peer marketplace...",5.19889e+09,185 Berry StreetSuite 5000,Mr. John S. Chen,Exec. Chairman & CEO,http://www.blackberry.com
29,CYBR,The Boeing Company,"The Boeing Company, together with its subsidia...",2.12395e+09,"100 North Riverside PlazaChicago, IL 60606",Mr. Hans E. Vestberg,Chairman & CEO,http://www.verizon.com
...,...,...,...,...,...,...,...,...
44,INSY,DMC Global Inc.,DMC Global Inc. engages in technical product a...,8.50403e+09,"5405 Spine RoadBoulder, CO 80301",Mr. Stephen T. Isaacs,"Chairman, CEO & Pres",http://www.aduro.com
45,NOK,PG&E Corporation,"PG&E Corporation, through its subsidiary, Paci...",2.03353e+09,77 Beale StreetPO Box 770000,Mr. Steven J. Meyer,Exec. Chairman,http://www.insysrx.com
46,NYSE,CyberArk Software Ltd.,"CyberArk Software Ltd., together with its subs...",3.03666e+09,9 Hapsagot StreetPark Ofer B PO Box 3143,Mr. William Godfrey Smith Jr.,"Chairman, Pres & CEO",http://www.ccbg.com
47,CCBG,Carvana Co.,"Carvana Co., together with its subsidiaries, o...",9.14253e+09,"1930 West Rio Salado ParkwayTempe, AZ 85281",Mr. Vincent K. McMahon,"Co-Founder, Chairman & CEO",http://corporate.wwe.com
48,WWE,"YETI Holdings, Inc.","YETI Holdings, Inc. designs, markets, retails,...",4.25462e+09,"7601 Southwest ParkwayAustin, TX 78735",Mr. Jeffrey M. Stafeil,Exec. VP & CFO,http://www.adient.com
49,ADNT,ProPetro Holding Corp.,"ProPetro Holding Corp., an oilfield services c...",8.1856e+09,Building B1706 South Midkiff,Mr. Kevin T. Longe,"Pres, CEO & Exec. Director",http://www.dmcglobal.com
50,BOOM,Radian Group Inc.,"Radian Group Inc., through its subsidiaries, e...",2.62254e+09,"1500 Market StreetPhiladelphia, PA 19102",Mr. Ramon Luis Laguarta,Chairman & CEO,http://www.pepsico.com
51,NOK,Vale S.A.,"Vale S.A., together with its subsidiaries, pro...",None,Praia de Botafogo n 18618 andar Botafogo,Mr. Bohn H. Crain,"Founder, CEO & Chairman",http://radiantdelivers.com
52,PEP,NIO Inc.,"NIO Inc. designs, manufactures, and sells elec...",None,Building 20No. 56 AnTuo Road Anting Town Jiadi...,Mr. Robert A. Iger,Chairman & CEO,http://www.thewaltdisneycompany.com
53,RLGT,Ambev S.A.,"Ambev S.A., through its subsidiaries, produces...",None,"Rua Dr. Renato Paes de Barros, 10173rd Floor",Ms. Carol Pan,"Principal Financial Officer, Principal Account...",http://wuhn.org
54,DIS,"Xenia Hotels & Resorts, Inc.","Xenia Hotels & Resorts, Inc. is a self-advised...",None,200 South Orange AvenueSuite 2700,Mr. Daniel A. Nordloh,Exec. VP of Global Bus. Devel.,http://www.ensync.com
55,SPY,"Fibrocell Science, Inc.","Fibrocell Science, Inc., an autologous cell an...",None,"405 Eagleview BoulevardExton, PA 19341",None,None,None
56,WUHN,Intrexon Corporation,Intrexon Corporation engage in the engineering...,None,"20374 Seneca Meadows ParkwayGermantown, MD 20876",None,None,None
57,ESNC,Biohaven Pharmaceutical Holding Company Ltd.,"Biohaven Pharmaceutical Holding Company Ltd., ...",None,"215 Church StreetNew Haven, CT 06510",None,None,None
58,GIB,"Adverum Biotechnologies, Inc.","Adverum Biotechnologies, Inc., a clinical-stag...",None,1035 O'Brien DriveSuite A,None,None,None
59,NVA,Acasti Pharma Inc.,"Acasti Pharma Inc., a biopharmaceutical compan...",None,"545, Promenade du CentropolisSuite 100",None,None,None
60,None,"Aduro BioTech, Inc.","Aduro BioTech, Inc., a clinical-stage biopharm...",None,"740 Heinz AvenueBerkeley, CA 94710",None,None,None
61,None,"INSYS Therapeutics, Inc.","Insys Therapeutics, Inc., a specialty pharmace...",None,1333 South Spectrum BoulevardSuite 100,None,None,None
62,None,Nokia Corporation,Nokia Corporation engages in the network and t...,None,Karaportti 3Espoo 02610,None,None,None
63,None,"Capital City Bank Group, Inc.","Capital City Bank Group, Inc. operates as the ...",None,"217 North Monroe StreetTallahassee, FL 32301",None,None,None
64,None,"World Wrestling Entertainment, Inc.","World Wrestling Entertainment, Inc., an integr...",None,"1241 East Main StreetStamford, CT 06902",None,None,None
65,None,Adient plc,"Adient plc designs, manufactures, and markets ...",None,25-28 North Wall QuayIFSC,None,None,None
66,None,DMC Global Inc.,DMC Global Inc. engages in technical product a...,None,"5405 Spine RoadBoulder, CO 80301",None,None,None
67,None,Nokia Corporation,Nokia Corporation engages in the network and t...,None,Karaportti 3Espoo 02610,None,None,None
68,None,"PepsiCo, Inc.","PepsiCo, Inc. operates as a food and beverage ...",None,"700 Anderson Hill RoadPurchase, NY 10577",None,None,None
69,None,"Radiant Logistics, Inc.","Radiant Logistics, Inc. operates as a third-pa...",None,405 114th Avenue SEThird Floor,None,None,None
70,None,The Walt Disney Company,"The Walt Disney Company, together with its sub...",None,"500 South Buena Vista StreetBurbank, CA 91521",None,None,None
71,None,"Wuhan General Group (China), Inc.","Wuhan General Group (China), Inc. operates as ...",None,"Ganduxer 32, 1-1Wuhan East Lake Hi-Tech Develo...",None,None,None
72,None,"EnSync, Inc.","EnSync, Inc., together with its subsidiaries, ...",None,N88 W13901 Main StreetSuite 200,None,None,None
73,None,CGI Inc.,"CGI Inc., together with its subsidiaries, prov...",None,1350 Ren-Lvesque Boulevard West15th Floor,None,None,None

In [24]:
# Create sustainability dataframe
data1_dic = {'Ticker':tickers, 'Total_ESG_Score':total_ESG_score_list, 'AVG_Perf_Env':avg_perf_env_list,'Social_Score':social_score_list, 'Governance_Score':governance_score_list}
sustainability_df = pd.DataFrame.from_dict(data1_dic, orient='index')
sustainability_df = sustainability_df.transpose()

In [25]:
sustainability_df

   Ticker Total_ESG_Score AVG_Perf_Env Social_Score Governance_Score
0     PCG              70           71           68               71
1     DIS              65           65           63               68
2     CGC              66           88           60               55
3      GS              41           39           41               45
4    NFLX              63           74           53               68
5     UNH              70           89           57               60
6    ROKU              60           70           49               55
7    AAPL              51           54           43               58
8    TSLA              63           74           53               68
9    LYFT              57           59           54               60
10     BA              81           86           83               70
11    UNH              42           42           39               47
12   BBBY              50           49           42               66
13    CGC              50           42           48               67
14   NVDA              70           83           57               76
15   MNST              54           52           52               61
16   BIDU              70           71           68               71
17   NBEV              67           71           59               74
18     CF              65           65           63               68
19    XLP              53           61           46               57
20     BB            None         None         None             None
21     VZ            None         None         None             None
22    TER            None         None         None             None
23   PREV            None         None         None             None
24   CCBG            None         None         None             None
25    WWE            None         None         None             None
26   ADNT            None         None         None             None
27   BOOM            None         None         None             None
28    PCG            None         None         None             None
29   CYBR            None         None         None             None
30   CVNA            None         None         None             None
31   YETI            None         None         None             None
32   PUMP            None         None         None             None
33    RDN            None         None         None             None
34   VALE            None         None         None             None
35    NIO            None         None         None             None
36   ABEV            None         None         None             None
37    XHR            None         None         None             None
38   FCSC            None         None         None             None
39    XON            None         None         None             None
40   BHVN            None         None         None             None
41   ADVM            None         None         None             None
42   ACST            None         None         None             None
43   ADRO            None         None         None             None
44   INSY            None         None         None             None
45    NOK            None         None         None             None
46   NYSE            None         None         None             None
47   CCBG            None         None         None             None
48    WWE            None         None         None             None
49   ADNT            None         None         None             None
50   BOOM            None         None         None             None
51    NOK            None         None         None             None
52    PEP            None         None         None             None
53   RLGT            None         None         None             None
54    DIS            None         None         None             None
55    SPY            None         None         None             None
56   WUHN            None         None         None             None
57   ESNC            None         None         None             None
58    GIB            None         None         None             None
59    NVA            None         None         None             None

In [26]:
# Database 
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
rds_connection_string = "root:root123@127.0.0.1:3306/twitter_stocks_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [27]:
engine.table_names()

['profile', 'summary', 'sustainability']

In [28]:
# converted DataFrame into database
summary_df.to_sql(name='summary', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from summary', con=engine).head()

  Ticker Close_Price      Volume  Mkt_Cap     EPS Earnings_Date
0    PCG       21.85   4657614.0   11.079  -13.25    2017-09-28
1    DIS      131.75  11236864.0  238.095    7.30    2018-12-07
2    CGC       42.85  15333501.0   15.295   -1.79    2019-02-07
3     GS      207.90   2804336.0   77.875   24.02    2019-05-29
4   NFLX      354.74   8353165.0  157.328    2.68    2019-02-07

In [29]:
# converted DataFrame into database
# pd.to_sql('TRUNCATE TABLE profile', con=engine)
profile_df.to_sql(name='profile', con=engine, if_exists='replace', index=False)

pd.read_sql_query('select * from profile', con=engine).head()

InternalError: (pymysql.err.InternalError) (1366, "Incorrect string value: '\\xC2\\x91n-Ha...' for column 'Description' at row 18") [SQL: 'INSERT INTO profile (`Ticker`, `Company_Name`, `Description`, `Telephone`, `Address`, `Key_Execs_Name`, `Key_Execs_Title`, `Web_URL`) VALUES (%(Ticker)s, %(Company_Name)s, %(Description)s, %(Telephone)s, %(Address)s, %(Key_Execs_Name)s, %(Key_Execs_Title)s, %(Web_URL)s)'] [parameters: ({'Ticker': 'PCG', 'Company_Name': 'PG&E Corporation', 'Description': "PG&E Corporation, through its subsidiary, Pacific Gas and Electric Company, engages in the sale and delivery of electricity and natural gas to reside ... (716 characters truncated) ...  fossil fuel-fired, and solar electricity generation facilities. PG&E Corporation was incorporated in 1995 and is based in San Francisco, California.", 'Telephone': 4159731000.0, 'Address': '77 Beale StreetPO Box 770000', 'Key_Execs_Name': 'Mr. Jason P. Wells', 'Key_Execs_Title': 'Sr. VP & CFO', 'Web_URL': 'http://www.pgecorp.com'}, {'Ticker': 'DIS', 'Company_Name': 'The Walt Disney Company', 'Description': "The Walt Disney Company, together with its subsidiaries, operates as an entertainment company worldwide. The company's Media Networks segment operate ... (1699 characters truncated) ... ebsite management and design; and develops and distributes online video content. The company was founded in 1923 and is based in Burbank, California.", 'Telephone': 8185601000.0, 'Address': '500 South Buena Vista StreetBurbank, CA 91521', 'Key_Execs_Name': 'Mr. Robert A. Iger', 'Key_Execs_Title': 'Chairman & CEO', 'Web_URL': 'http://www.thewaltdisneycompany.com'}, {'Ticker': 'CGC', 'Company_Name': 'Canopy Growth Corporation', 'Description': 'Canopy Growth Corporation, together with its subsidiaries, engages in growing, possession, and sale of medical cannabis in Canada. Its products inclu ... (677 characters truncated) ... rijuana Inc. and changed its name to Canopy Growth Corporation in September 2015. Canopy Growth Corporation is headquartered in Smiths Falls, Canada.', 'Telephone': 2129021000.0, 'Address': '1 Hershey DriveSmiths Falls, ON K7A 0A8', 'Key_Execs_Name': 'Mr. David Michael Solomon', 'Key_Execs_Title': 'Chairman & CEO', 'Web_URL': 'http://www.goldmansachs.com'}, {'Ticker': 'GS', 'Company_Name': 'The Goldman Sachs Group, Inc.', 'Description': 'The Goldman Sachs Group, Inc. operates as an investment banking, securities, and investment management company worldwide. It operates in four segment ... (1580 characters truncated) ... , financial institutions, governments, and individuals. The Goldman Sachs Group, Inc. was founded in 1869 and is headquartered in New York, New York.', 'Telephone': 4085403700.0, 'Address': '200 West StreetNew York, NY 10282', 'Key_Execs_Name': 'Mr. Wilmot Reed Hastings Jr.', 'Key_Execs_Title': 'Co-Founder, Chairman, Pres & CEO', 'Web_URL': 'http://www.netflix.com'}, {'Ticker': 'NFLX', 'Company_Name': 'Netflix, Inc.', 'Description': 'Netflix, Inc. provides Internet entertainment services. The company operates in three segments: Domestic streaming, International streaming, and Dome ... (356 characters truncated) ... company has approximately 139 million paid members in 190 countries. Netflix, Inc. was founded in 1997 and is headquartered in Los Gatos, California.', 'Telephone': 9529361300.0, 'Address': '100 Winchester CircleLos Gatos, CA 95032', 'Key_Execs_Name': 'Mr. Stephen J. Hemsley', 'Key_Execs_Title': 'Exec. Chairman', 'Web_URL': 'http://www.unitedhealthgroup.com'}, {'Ticker': 'UNH', 'Company_Name': 'UnitedHealth Group Incorporated', 'Description': "UnitedHealth Group Incorporated operates as a diversified health care company in the United States. It operates through four segments: UnitedHealthca ... (1409 characters truncated) ... ment, drug adherence, and disease/drug therapy management. UnitedHealth Group Incorporated was founded in 1974 and is based in Minnetonka, Minnesota.", 'Telephone': 4085569040.0, 'Address': 'UnitedHealth Group Center9900 Bren Road East', 'Key_Execs_Name': 'Mr. Anthony J. Wood', 'Key_Execs_Title': 'Founder, Chairman, Pres & CEO', 'Web_URL': 'http://www.roku.com'}, {'Ticker': 'ROKU', 'Company_Name': 'Roku, Inc.', 'Description': 'Roku, Inc. operates a TV streaming platform. The company operates in two segments, Platform and Player. Its platform allows users to discover and acc ... (675 characters truncated) ... the Republic of Ireland, Mexico, and various Latin American countries. The company was founded in 2002 and is headquartered in Los Gatos, California.', 'Telephone': 4089961010.0, 'Address': '150 Winchester CircleLos Gatos, CA 95032', 'Key_Execs_Name': 'Mr. Timothy D. Cook', 'Key_Execs_Title': 'CEO & Director', 'Web_URL': 'http://www.apple.com'}, {'Ticker': 'AAPL', 'Company_Name': 'Apple Inc.', 'Description': "Apple Inc. designs, manufactures, and markets mobile communication and media devices, and personal computers. It also sells various related software, ... (1374 characters truncated) ... party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.", 'Telephone': 3125442000.0, 'Address': 'One Apple Park WayCupertino, CA 95014', 'Key_Execs_Name': 'Mr. Dennis A. Muilenburg', 'Key_Execs_Title': 'Chairman, Pres & CEO', 'Web_URL': 'http://www.boeing.com'}  ... displaying 10 of 74 total bound parameter sets ...  {'Ticker': None, 'Company_Name': 'EnSync, Inc.', 'Description': "EnSync, Inc., together with its subsidiaries, develops, licenses, and manufactures energy management systems solutions for the residential and commer ... (795 characters truncated) ... Corporation and changed its name to EnSync, Inc. in August 2015. EnSync, Inc. was founded in 1986 and is headquartered in Menomonee Falls, Wisconsin.", 'Telephone': None, 'Address': 'N88 W13901 Main StreetSuite 200', 'Key_Execs_Name': None, 'Key_Execs_Title': None, 'Web_URL': None}, {'Ticker': None, 'Company_Name': 'CGI Inc.', 'Description': 'CGI Inc., together with its subsidiaries, provides information technology (IT) and business process services in Canada, Northern Europe, France, the  ... (912 characters truncated) ... erly known as CGI Group Inc. and changed its name to CGI Inc. in January 2019. CGI Inc. was founded in 1976 and is headquartered in Montreal, Canada.', 'Telephone': None, 'Address': '1350 Ren-Lvesque Boulevard West15th Floor', 'Key_Execs_Name': None, 'Key_Execs_Title': None, 'Web_URL': None})] (Background on this error at: http://sqlalche.me/e/2j85)

In [30]:
# converted DataFrame into database
sustainability_df.to_sql(name='sustainability', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from sustainability', con=engine).head()

  Ticker Total_ESG_Score AVG_Perf_Env Social_Score Governance_Score
0    PCG              70           71           68               71
1    DIS              65           65           63               68
2    CGC              66           88           60               55
3     GS              41           39           41               45
4   NFLX              63           74           53               68