In [1]:
## import modules
from splinter import Browser
import requests
import json
from bs4 import BeautifulSoup as bs
import pandas as pd
from datetime import datetime as dt
import numpy as np

In [2]:
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
# Build query Url and List of Stocks ticker
base_url = "https://finance.yahoo.com/quote/"
tickers = ["AAPL", "FB", "IBM", "MSFT"]

In [4]:
# create and initialize list 
close_price_list = []
volume_list = []
mkt_cap_list = []
earnings_Date_list = []
eps_list = []

In [5]:
for ticker in tickers:
    # Visit Yahoo finance summary page
    url1 = base_url + ticker + '?p=' + ticker + '&.tsrc=fin-srch'
#     print(url1)
    browser.visit(url1)
    # Scrape Financial Data into Soup
    html = browser.html
    soup = bs(html, "html.parser")
    summary = soup.find('table', class_="W(100%)").find_all(class_="Trsdu(0.3s) ")
    market_info = soup.find('table', class_="W(100%) M(0) Bdcl(c)").find_all(class_="Trsdu(0.3s) ")
    #print(summary)
    #type(summary)
    # close_price = soup.find('div', class_="D(ib) Mend(20px)").text
    # print(close_price.split('+')[0])
    close_price = summary[0].contents[0]
    close_price_list.append(close_price)
    volume = summary[4].contents[0]
    volume_list.append(volume)
    market_cap = market_info[0].contents[0]
    mkt_cap_list.append(market_cap)
    earnings_Date = market_info[4].contents[0]
    earnings_Date_list.append(earnings_Date)
    eps = market_info[3].contents[0]
    eps_list.append(eps)

In [6]:
# remove B and convert Mkt_cap to Float
new_cap_list = []
for cap in mkt_cap_list:
    new_cap = cap.replace('B', '')
    new_cap = float(new_cap)
    new_cap_list.append(new_cap)
mkt_cap_list = new_cap_list
print(mkt_cap_list)

[957.815, 510.526, 123.789, 934.245]

In [7]:
# Fix empty date values with a data
new_d_list = []
# print(earnings_Date_list)
# print("/n ---------------- /n")
for d in earnings_Date_list:
    new_d = d.replace('N/A', "2019-02-07")
    new_d_list.append(new_d)
earnings_Date_list = new_d_list
# print(new_d_list)

In [8]:
# remove comma from Volume values
new_vol_list = []
for vol in volume_list:
    new_vol = vol.replace(',', '')
    new_vol = float(new_vol)
    new_vol_list.append(new_vol)
volume_list = new_vol_list
print(volume_list)

[28870908.0, 9526236.0, 12389886.0, 19014761.0]

In [9]:
type(earnings_Date_list)

list

In [10]:
# create and initialize list 
company_name_list = []
company_desc_list = []
company_tel_list = []
key_execs_n_list = []
key_execs_t_list = []
key_execs_s_list = []
url_list = []
company_addr_list = []

In [11]:
for ticker in tickers:
    # Visit Yahoo finance profile page
    url2 = base_url + ticker + '/profile?p=' + ticker
#     print(url2)
    browser.visit(url2)
    # Scrape Financial Data into Soup
    html = browser.html
    soup = bs(html, "html.parser")
   
    profile1 = soup.find('p', class_="D(ib) W(47.727%) Pend(40px)")
    company_addr = profile1.contents[1] + profile1.contents[5]
    company_addr_list.append(company_addr)
#     print(company_addr)
    #type(data)
    company_name = soup.find("h3", class_="Fz(m) Mb(10px)").text
    company_name_list.append(company_name)
    company_desc = soup.find('p', class_="Mt(15px) Lh(1.6)").text
    company_desc_list.append(company_desc)
#     print(company_desc)
    key_execs_data = soup.find('table', class_='W(100%)').find('tbody').find_all('span')
    key_execs_name = key_execs_data[0].contents[1]
    key_execs_title = key_execs_data[1].contents[1]
    key_execs_salary = key_execs_data[2].contents[1]
    key_execs_n_list.append(key_execs_name)
    key_execs_t_list.append(key_execs_title)
    key_execs_s_list.append(key_execs_salary)
    profile = soup.find('p', class_="D(ib) W(47.727%) Pend(40px)").find_all('a')
    company_tel = profile[0].text
    url = profile[1].text
    company_tel_list.append(company_tel)
    url_list.append(url)
#     print(url_list)

In [12]:
# convert telephone number to INT
new_tel_list = []
for tel in company_tel_list:
    new_tel = tel.replace('-', '')
    new_tel = float(new_tel)
    new_tel_list.append(new_tel)
company_tel_list = new_tel_list
print(company_tel_list)

[4089961010.0, 6505434800.0, 9144991900.0, 4258828080.0]

In [13]:
# remove M and convert Key_Execs_Salary to Float
new_s_list = []
for s in key_execs_s_list:
    new_s = s.replace('M', '')
    new_s = float(new_s)
    new_s_list.append(new_s)
key_execs_s_list = new_s_list
print(key_execs_s_list)

[15.68, 8.85, 6.75, 9.04]

In [14]:
# create and initialize list 
total_ESG_score_list = []
avg_perf_env_list = []
social_score_list = []
governance_score_list = []

In [15]:
for ticker in tickers:
    # Visit Yahoo finance sustanability page
    url3 = base_url + ticker + '/sustainability?p=' + ticker
#     print(url3)
    browser.visit(url3)
    # Scrape Financial Data into Soup
    html = browser.html
    soup = bs(html, "html.parser")
    sustain = soup.find_all('div', class_="D(ib) Fz(23px) smartphone_Fz(22px) Fw(600)")
#     print(sustain[count].contents[0])
#     count += 1
    total_ESG_score = soup.find('div', class_="Fz(36px) Fw(600) D(ib) Mend(5px)").text
    total_ESG_score_list.append(total_ESG_score)
    avg_perf_env = sustain[0].contents[0]
    avg_perf_env_list.append(avg_perf_env)
    social_score = sustain[1].contents[0]
    social_score_list.append(social_score)
    governance_score = sustain[2].contents[0]
    governance_score_list.append(governance_score)

In [16]:
# Create Summary dataframe
summary_df = pd.DataFrame({'Ticker':tickers, 'Close_Price':close_price_list, 'Volume':volume_list,'Mkt_Cap':mkt_cap_list, 'EPS':eps_list, 'Earnings_Date':earnings_Date_list})

In [17]:
summary_df

  Ticker Close_Price      Volume  Mkt_Cap    EPS Earnings_Date
0   AAPL      199.25  28870908.0  957.815  12.12    2019-02-08
1     FB      178.87   9526236.0  510.526   7.57    2019-02-07
2    IBM      145.14  12389886.0  123.789   9.52    2019-02-07
3   MSFT      120.77  19014761.0  934.245   4.31    2019-05-15

In [18]:
# Create Summary dataframe
profile_df = pd.DataFrame({'Ticker':tickers, 'Company_Name':company_name_list, 'Description':company_desc_list, 'Telephone':company_tel_list, 'Address':company_addr_list,
                           'Key_Execs_Name':key_execs_n_list, 'Key_Execs_Title':key_execs_t_list,'Key_Execs_Salary':key_execs_s_list, 'Web_URL':url_list})

In [19]:
profile_df

,Ticker,Company_Name,Description,Telephone,Address,Key_Execs_Name,Key_Execs_Title,Key_Execs_Salary,Web_URL
0,AAPL,Apple Inc.,"Apple Inc. designs, manufactures, and markets ...",4.089961e+09,"One Apple Park WayCupertino, CA 95014",Mr. Timothy D. Cook,CEO & Director,15.68,http://www.apple.com
1,FB,"Facebook, Inc.","Facebook, Inc. provides various products to co...",6.505435e+09,"1601 Willow RoadMenlo Park, CA 94025",Mr. Mark Elliot Zuckerberg,"Founder, Chairman & CEO",8.85,http://www.facebook.com
2,IBM,International Business Machines Corporation,International Business Machines Corporation op...,9.144992e+09,"1 New Orchard RoadArmonk, NY 10504",Ms. Virginia M. Rometty,"Chairman, Pres & CEO",6.75,http://www.ibm.com
3,MSFT,Microsoft Corporation,"Microsoft Corporation develops, licenses, and ...",4.258828e+09,"One Microsoft WayRedmond, WA 98052",Mr. Satya Nadella,CEO & Director,9.04,http://www.microsoft.com

In [20]:
# Create sustainability dataframe
sustainability_df = pd.DataFrame({'Ticker':tickers, 'Total_ESG_Score':total_ESG_score_list, 'AVG_Perf_Env':avg_perf_env_list,'Social_Score':social_score_list, 'Governance_Score':governance_score_list})

In [21]:
sustainability_df

  Ticker Total_ESG_Score AVG_Perf_Env Social_Score Governance_Score
0   AAPL              70           89           57               60
1     FB              59           62           67               42
2    IBM              74           87           74               60
3   MSFT              74           82           71               70

In [22]:
# Database 
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
rds_connection_string = "root:root123@127.0.0.1:3306/twitter_stocks_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [24]:
engine.table_names()

[]

In [25]:
# converted DataFrame into database
summary_df.to_sql(name='summary', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from summary', con=engine).head()

  Ticker Close_Price      Volume  Mkt_Cap    EPS Earnings_Date
0   AAPL      199.25  28870908.0  957.815  12.12    2019-02-08
1     FB      178.87   9526236.0  510.526   7.57    2019-02-07
2    IBM      145.14  12389886.0  123.789   9.52    2019-02-07
3   MSFT      120.77  19014761.0  934.245   4.31    2019-05-15

In [26]:
# converted DataFrame into database
# pd.to_sql('TRUNCATE TABLE profile', con=engine)
profile_df.to_sql(name='profile', con=engine, if_exists='replace', index=False)

pd.read_sql_query('select * from profile', con=engine).head()

,Ticker,Company_Name,Description,Telephone,Address,Key_Execs_Name,Key_Execs_Title,Key_Execs_Salary,Web_URL
0,AAPL,Apple Inc.,"Apple Inc. designs, manufactures, and markets ...",4.089961e+09,"One Apple Park WayCupertino, CA 95014",Mr. Timothy D. Cook,CEO & Director,15.68,http://www.apple.com
1,FB,"Facebook, Inc.","Facebook, Inc. provides various products to co...",6.505435e+09,"1601 Willow RoadMenlo Park, CA 94025",Mr. Mark Elliot Zuckerberg,"Founder, Chairman & CEO",8.85,http://www.facebook.com
2,IBM,International Business Machines Corporation,International Business Machines Corporation op...,9.144992e+09,"1 New Orchard RoadArmonk, NY 10504",Ms. Virginia M. Rometty,"Chairman, Pres & CEO",6.75,http://www.ibm.com
3,MSFT,Microsoft Corporation,"Microsoft Corporation develops, licenses, and ...",4.258828e+09,"One Microsoft WayRedmond, WA 98052",Mr. Satya Nadella,CEO & Director,9.04,http://www.microsoft.com

In [27]:
# converted DataFrame into database
sustainability_df.to_sql(name='sustainability', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from sustainability', con=engine).head()

  Ticker Total_ESG_Score AVG_Perf_Env Social_Score Governance_Score
0   AAPL              70           89           57               60
1     FB              59           62           67               42
2    IBM              74           87           74               60
3   MSFT              74           82           71               70